:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
}

.company--logo {
    text-decoration: none;
}

.logo-text {
    font-size: 1.8rem
}

.navbar--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 9vh;
    min-height: 8vh;
    background-color: rgb(102, 25, 25);
    padding-inline: 16px;
}

.navbar-directory {
    display: flex;
    padding-top: 4px;
    list-style: none;
    width: 40%;
    justify-content: space-around;
}

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 15%;
}

.about-page {
    display: flex;
    flex-direction: column;
    margin-block: 10%;
    margin-inline: 10%;
}

.git-hub-link {
    padding-left: 12px;
}

.shopping-page {
    margin-inline: 5%; 
}

.product--container {
    width: 200px;
    cursor: pointer;
}

.product--container:hover {
    background-color: rgb(236, 233, 233);
    border: 1px solid;
}

.products--container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.pop-up--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Cart {
    margin-top: 4%;
    margin-inline: 10%;
}

.shopping-cart-item {
    
}