.popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    border: 1px solid;
    border-radius: 12px;
    width: 30%;
    padding: 2%;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }